* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}

header>h1 {
    color: #e53170;
    font-weight: 900;
    text-align: center;
}

#intro-paragraph {
    text-align: center;
}

.riquadro {
    background-color: #0f0e17;
    color: white;
    width: calc(100% / 3 - 2rem);
    margin-left: 1.5rem;
    margin-top: 3rem;
    box-shadow: 20px 20px 20px lightgray;
}

.float-left {
    float: left;
}

.riquadro img {
    width: 6rem;
    padding-right: .8rem;
}

div>p {
    padding-top: .5rem;
    line-height: 1.3rem;
}
.personal-info {
    font-size: .8rem;
}

.personal-info a {
    text-decoration-line: none;
    color: #43b6e5;
}

